@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
    /*html, body, #wrapper, #page-wrapper {height: 100%; overflow: hidden;}*/
}

body {
    background-color: #f6f7fa;
}

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }
    #page-wrapper {
        padding: 22px 10px;
    }
}

/* Top Navigation */

.top-nav {
    padding: 0 15px
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 20px;
    color: #31708f;
}

.top-nav>li>a:hover, .top-nav>li>a:focus, .top-nav>.open>a, .top-nav>.open>a:hover, .top-nav>.open>a:focus {
    color: #31708f;
    background-color: #bce8f1;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    /*border: 1px solid rgba(0,0,0,.15);*/
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    width: 230px;
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 60px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        border-top: 1px #bce8f1 solid;
        border-right: 1px #bce8f1 solid;
        overflow-y: auto;
        background-color: #d9edf7;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }
    .side-nav>li>a {
        width: 225px;
        height: 110px;
        border-bottom: 1px #bce8f1 solid;
    }
    .side-nav li a:hover, .side-nav li a:focus {
        outline: none;
        background-color: #bce8f1 !important;
        color: #31708f;
    }
}

.side-nav>li>ul {
    padding: 0;
    border-bottom: 1px rgba(0, 0, 0, .3) solid;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    /*color: #999;*/
    color: #fff;
}

.side-nav>li>ul>li>a:hover {
    color: #31708f;
}

.side-nav>li>a {
    padding-bottom: 40px;
    padding-top: 40px;
    padding-left: 30px;
}

.top-nav>li>a {
    padding-left: 40px;
    padding-right: 40px;
}

.top-nav>li>a>b {
    padding-left: 8px;
}

.navbar .side-nav>li>a>.label {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    top: 14px;
    right: 6px;
    font-size: 10px;
    font-weight: normal;
    min-width: 15px;
    min-height: 15px;
    line-height: 1.0em;
    text-align: center;
    padding: 2px;
}

.navbar .nav>li>a:hover>.label {
    top: 10px;
}

.navbar-brand {
    padding: 5px 15px;
}

.fa-fw {
    padding-right: 25px;
}

.navbar-inverse {
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.navbar-inverse .navbar-nav>.active>a {
    background-color: #bce8f1;
    color: #31708f;
}

.navbar-inverse .navbar-nav>li>a {
    color: #31708f;
}

.section {
    font-size: 15px;
    ;
}

/* --------- pannello temperatura -------------------*/

.row-no-gutter {
    margin-right: 0;
    margin-left: 0;
}

.row-no-gutter [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}

#card {
    background: #fff;
    position: relative;
    -webkit-box-shadow: 0px 1px 10px 0px rgba(207, 207, 207, 1);
    -moz-box-shadow: 0px 1px 10px 0px rgba(207, 207, 207, 1);
    box-shadow: 0px 1px 10px 0px rgba(207, 207, 207, 1);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    margin-bottom: 10px;
}

.city-selected {
    position: relative;
    overflow: hidden;
    min-height: 200px;
    background: #3D6AA2;
}

article {
    position: relative;
    z-index: 2;
    color: #fff;
    padding: 20px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.info .city, .time {
    font-size: 24px;
    font-weight: 200;
    position: relative;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

.info .city:after {
    content: '';
    width: 15px;
    height: 2px;
    background: #fff;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

.city span {
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    text-transform: lowercase;
    text-align: left;
}

.time {
    font-size: 15px;
    text-transform: uppercase;
}

.icon {
    width: 84px;
    height: 84px;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    overflow: visible;
}

.temp {
    font-size: 73px;
    display: block;
    position: relative;
    font-weight: bold;
}

svg {
    color: #fff;
    fill: currentColor;
}

.wind svg {
    width: 18px;
    height: 18px;
    margin-top: 20px;
    margin-right: 10px;
    vertical-align: bottom;
}

.wind span {
    font-size: 13px;
    text-transform: uppercase;
}

.city-selected:hover figure {
    opacity: 0.4;
}

figure {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.1;
    z-index: 1;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.days .row [class*="col-"]:nth-child(2) .day {
    border-width: 0 1px 0 1px;
    border-style: solid;
    border-color: #eaeaea;
}

.days .row [class*="col-"] {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.days .row [class*="col-"]:hover {
    background: #eaeaea;
}

.day {
    padding: 10px 0px;
    text-align: center;
}

.day h1 {
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 10px;
}

.day svg {
    color: #000;
    width: 32px;
    height: 32px;
}