{% extends "base.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='css/light_switch.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/box.css')}}">
{% endblock %}

{% block title %}Smart House - Home{% endblock %}

{% block page_content %}
<div class="user-dashboard">
    <h1>Interruttori:</h1>
    {% for switch_row in switch_B | batch(2) %}
    {% with %}
    {% set group=(loop.index-1) %}
    <div class="row">
        {% for switch in switch_row %}
        <div class="col-md-6 col-sm-6 col-xs-12 gutter">
            <div class="sales">
                <h2>{{ switch[0]|upper }}</h2>
                <div class="btn-group">
                    <div class="onoffswitch2">
                        <input type="checkbox" name="switch" class="onoffswitch2-checkbox" id="{{ switch[0] }}">
                        <label class="onoffswitch2-label" for="{{ switch[0] }}">
                            <span class="onoffswitch2-inner"></span>
                            <span class="onoffswitch2-switch"></span>
                        </label>
                    </div>
                    {% set index = (group*2)+loop.index %}
                    {% if index == 5 or index == 6 or index == 7 %}
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Luminosità</label>
                        </div>
                        <select name="brightness" class="custom-select" id="brightness_{{ switch[0] }}">
                            <option value="100" selected>Predefinita</option>
                            <option value="10">10%</option>
                            <option value="20">20%</option>
                            <option value="30">30%</option>
                            <option value="40">40%</option>
                            <option value="50">50%</option>
                            <option value="60">60%</option>
                            <option value="70">70%</option>
                            <option value="80">80%</option>
                            <option value="90">90%</option>
                        </select>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endwith %}
    {% endfor %}
    <h1>Sensori:</h1>
    <div class="col-md-6 col-tmp">
        <div id="card" class="weater">
            <div class="city-selected">
                <article>
                    <div class="info">
                        <div class="city" id="city"><span>Località:</span></div>
                        <div class="time" id="time">Ora: </div>
                        <div class="temp" id="temperature">ND</div>
                        <div class="wind">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-droplet" fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M7.21.8C7.69.295 8 0 8 0c.109.363.234.708.371 1.038.812 1.946 2.073 3.35 3.197 4.6C12.878 7.096 14 8.345 14 10a6 6 0 0 1-12 0C2 6.668 5.58 2.517 7.21.8zm.413 1.021A31.25 31.25 0 0 0 5.794 3.99c-.726.95-1.436 2.008-1.96 3.07C3.304 8.133 3 9.138 3 10a5 5 0 0 0 10 0c0-1.201-.796-2.157-2.181-3.7l-.03-.032C9.75 5.11 8.5 3.72 7.623 1.82z" />
                                <path fill-rule="evenodd"
                                    d="M4.553 7.776c.82-1.641 1.717-2.753 2.093-3.13l.708.708c-.29.29-1.128 1.311-1.907 2.87l-.894-.448z" />
                            </svg>
                            <span id="humidity">Umidità: ND</span>
                        </div>
                    </div>
                    <div class="icon">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-thermometer-half"
                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M6 2a2 2 0 1 1 4 0v7.627a3.5 3.5 0 1 1-4 0V2zm2-1a1 1 0 0 0-1 1v7.901a.5.5 0 0 1-.25.433A2.499 2.499 0 0 0 8 15a2.5 2.5 0 0 0 1.25-4.666.5.5 0 0 1-.25-.433V2a1 1 0 0 0-1-1z" />
                            <path d="M8.25 2a.25.25 0 0 0-.5 0v9.02a1.514 1.514 0 0 1 .5 0V2z" />
                            <path d="M9.5 12.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                        </svg>
                    </div>
                </article>
            </div>
            <div class="days">
                <div class="row row-no-gutter row-btn-temp">
                    <button id="btn-tmp" type="button" class="btn btn-primary btn-temp">Ottieni</button>
                </div>
            </div>
        </div>
    </div>
    {% for digital_in_row in digital_in | batch(4) %}
    {% with %}
    {% set group=(loop.index-1) %}
    <div class="row">
        {% for digital_in in digital_in_row %}
        <div class="col-md-6 col-sm-6 col-xs-12 gutter">
            <div class="sales">
                <h2>{{ digital_in|upper }}</h2>
                <div class="btn-group">
                    <div class="onoffswitch2">
                        {% if sens_enabled[(group*4)+loop.index0] == 1 %}
                        <input type="checkbox" name="sens" class="onoffswitch2-checkbox" id="{{ digital_in }}" checked>
                        <input type="checkbox" name="sens" class="onoffswitch2-checkbox" id="{{ digital_in }}" checked>
                        {% else %}
                        <input type="checkbox" name="sens" class="onoffswitch2-checkbox" id="{{ digital_in }}">
                        {% endif %}
                        <label class="onoffswitch2-label" for="{{ digital_in }}">
                            <span class="onoffswitch2-inner"></span>
                            <span class="onoffswitch2-switch"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endwith %}
    {% endfor %}
</div>
{% endblock %} -->

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{{url_for('static', filename='js/smarthouse.js')}}"></script>
{% endblock %}